/* ============================================================================================== /  
                                                                                                 
    Base CSS adapted from https://www.w3schools.com/howto/howto_css_portfolio_gallery.asp         
                                                                                                 
/ ============================================================================================== */

*{
    box-sizing: border-box;
}
  
body {
    background-color: #fafafa;
    color: #333;
    padding: 20px;
    font-family: 'Poppins';
}
  
/* Center website */
.main {
    max-width: 1200px;
    margin: auto;
}
  
h1 {
    font-size: 50px;
    word-break: break-all;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

    width: 30%;
    min-width: 200px;
    max-width: 300px;
}

/* ========================================================================== /  
    Gallery rows and columns
/ ========================================================================== */

.row {
    margin: 8px -16px;
}
  
/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}
  
/* Create four equal columns that floats next to each other */
.column {

    float: left;
    width: 33%;
}
  
/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* ========================================================================== /  
    Content, overlays

    CSS adapted from:
    https://www.w3schools.com/howto/howto_css_image_overlay.asp
/ ========================================================================== */

.content {
    background-color: white;
    padding: 20px;
}

.content:hover {
    background-color: #fff1aa;
    box-shadow: 0 4px 8px 0 #493d0033;
}

.overlay-container {
    position: relative;
}

.overlay-container img {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #333;

    transition: .5s ease;
    opacity: 0;
}

.overlay p {
    color: white;
    font-size: 14px;
    padding: 20px;
    padding-top: 0;
}
  
.overlay-container:hover .overlay {
    opacity: 90%;
}
  

/* ========================================================================== /  
    Responsive layout
/ ========================================================================== */

/* Makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}
/* Makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}